{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block main %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Some title</h1>
            <p class="lead">Some words under title.</p>
        </div>
    </div>
{% endblock %}